{% extends "base.html" %}
{% load custom_filters %}


    {% block content %}

    <!-- Breadcrumb Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-12">
                <nav class="breadcrumb bg-light mb-30">
                    <a class="breadcrumb-item text-dark" href="{% url 'home' %}">Home</a>
                    <a class="breadcrumb-item text-dark" href="{% url 'product-list' %}">All Product</a>
                </nav>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->


    <!-- Shop Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <!-- Shop Sidebar Start -->
            <!-- <div class="col-lg-2 col-md-4"> -->
                <!-- Manufacturer Start -->
                <!-- <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Filter by manufacturer</span></h5>
                <div class="bg-light p-4 mb-30">
                    <form>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" class="custom-control-input" checked id="price-all">
                            <label class="custom-control-label" for="price-all">All Manufacturer</label>
                            <span class="badge border font-weight-normal">1000</span>
                        </div>
                        {% for index, manufacturer in manufacturers|enumerate %}
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" class="custom-control-input" id="price-{{ index }}">
                            <label class="custom-control-label" for="price-{{ index }}">{{ manufacturer.name }}</label>
                            <span class="badge border font-weight-normal">150</span>
                        </div>
                        {% endfor %}
                    </form>
                </div> -->
                <!-- Manufacturer End -->
                
                <!-- Vehicle Brand Start -->
                <!-- <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Filter by Vehicle Brands</span></h5>
                <div class="bg-light p-4 mb-30">
                    <form>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" class="custom-control-input" checked id="color-all">
                            <label class="custom-control-label" for="color-all">All Vehicle Brands</label>
                            <span class="badge border font-weight-normal">{{ diecasts.count }}</span>
                        </div>
                        {% for index, vehicle_brand in vehicle_brands|enumerate %}
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" class="custom-control-input" id="color-{{ index }}">
                            <label class="custom-control-label" for="color-{{ index }}">{{ vehicle_brand.name }}</label>
                            <span class="badge border font-weight-normal"></span>
                        </div>
                        {% endfor %}
                    </form>
                </div> -->
                <!-- Vehicle Brand End -->

                <!-- Scale Start -->
                <!-- <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Filter by scale</span></h5>
                <div class="bg-light p-4 mb-30">
                    <form>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" class="custom-control-input" checked id="size-all">
                            <label class="custom-control-label" for="size-all">All Scale</label>
                            <span class="badge border font-weight-normal">1000</span>
                        </div>
                        {% for index, scale in scales|enumerate %}
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" class="custom-control-input" id="size-{{ index }}">
                            <label class="custom-control-label" for="size-{{ index }}">{{ scale.name }}</label>
                            <span class="badge border font-weight-normal">150</span>
                        </div>
                        {% endfor %}
                    </form>
                </div> -->
                <!-- Scale End -->
            <!-- </div> -->
            <!-- Shop Sidebar End -->


            <!-- Shop Product Start -->
            <div class="col-lg-12 col-md-8">
                <div class="row pb-3">
                    <div class="col-12 pb-1">
                        <div class="d-flex align-items-center justify-content-between mb-4">
                            <!-- <div>
                                <button class="btn btn-sm btn-light"><i class="fa fa-th-large"></i></button>
                                <button class="btn btn-sm btn-light ml-2"><i class="fa fa-bars"></i></button>
                            </div> -->
                            <div></div>
                            <div class="ml-2">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-light dropdown-toggle" data-toggle="dropdown">Sorting</button>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" href="?sort=oldest&limit={{ limit }}&featured={{ featured }}">Oldest</a>
                                        <a class="dropdown-item" href="?sort=latest&limit={{ limit }}&featured={{ featured }}">Latest</a>
                                        <a class="dropdown-item" href="?sort=price_ascending&limit={{ limit }}&featured={{ featured }}">Price (Low -> High)</a>
                                        <a class="dropdown-item" href="?sort=price_descending&limit={{ limit }}&featured={{ featured }}">Price (High -> Low)</a>
                                        <a class="dropdown-item" href="#">Best Rating</a>
                                    </div>
                                </div>
                                <div class="btn-group ml-2">
                                    <button type="button" class="btn btn-sm btn-light dropdown-toggle" data-toggle="dropdown" id="featured-button">Featured</button>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" href="?sort={{ sort }}&limit={{ limit }}">All items</a>
                                        <a class="dropdown-item" href="?sort={{ sort }}&limit={{ limit }}&featured=featured">Featured</a>
                                        <a class="dropdown-item" href="?sort={{ sort }}&limit={{ limit }}&featured=on_sale">On Sale</a>
                                        <a class="dropdown-item" href="?sort={{ sort }}&limit={{ limit }}&featured=featured_on_sale">Featured and On Sale</a>
                                    </div>
                                </div>
                                <!-- <div class="btn-group ml-2">
                                    <button type="button" class="btn btn-sm btn-light dropdown-toggle" data-toggle="dropdown">Showing</button>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" href="?sort={{ sort }}&limit=2&featured={{ featured }}">2</a>
                                        <a class="dropdown-item" href="?sort={{ sort }}&limit=3&featured={{ featured }}">3</a>
                                        <a class="dropdown-item" href="?sort={{ sort }}&limit=10&featured={{ featured }}">10</a>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                    </div>
                    
                    {% for diecast in diecasts %}
                    <div class="col-lg-3 col-md-6 col-sm-6 pb-1">
                        <div class="product-item bg-light mb-4">
                            <div class="product-img position-relative overflow-hidden">
                                <img class="img-fluid w-100" src="{{ MEDIA_URL }}{{ diecast.picture1 }}" alt="{{ MEDIA_URL }}{{ diecast.picture1 }}">
                                <div class="product-action">
                                    <a class="btn btn-outline-dark btn-square" href="{% url 'detail' diecast.manufacturer.slug diecast.slug %}"><i class="fas fa-car"></i></a>
                                    <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>
                                    <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-shopping-cart"></i></a>
                                </div>
                            </div>
                            <div class="text-center py-4">
                                <a class="h6 text-decoration-none text-truncate" href="{% url 'detail' diecast.manufacturer.slug diecast.slug %}">{{ diecast.vehicle_name }}</a>
                                <div class="d-flex align-items-center justify-content-center mb-1" href="{% url 'manufacturer-list' %}">{{ diecast.manufacturer }}</div>
                                <div class="d-flex align-items-center justify-content-center mt-2">
                                    {% if diecast.on_sale %}
                                    <h5>${{ diecast.on_sale_price|intcomma }}</h5>
                                    <h6 class="text-muted ml-2"><del>{{ diecast.retail_price|intcomma }}</del></h6>
                                    {% endif %}

                                    {% if not diecast.on_sale %}
                                    <h5>${{ diecast.retail_price|intcomma }}</h5>
                                    {% endif %}
                                </div>
                                <!-- <div class="d-flex align-items-center justify-content-center mb-1">
                                    <small class="fa fa-star text-primary mr-1"></small>
                                    <small class="fa fa-star text-primary mr-1"></small>
                                    <small class="fa fa-star text-primary mr-1"></small>
                                    <small class="fa fa-star text-primary mr-1"></small>
                                    <small class="fa fa-star text-primary mr-1"></small>
                                    <small>(99)</small>
                                </div> -->
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                    <div class="col-12">
                        <nav>
                          <ul class="pagination justify-content-center">
                            <li class="page-item disabled"><span class="page-link" href="#">Previous</span></li>
                            {% for i in diecasts.paginator.page_range %}
                                {% if i == diecasts.number %}
                                    <li class="page-item active">
                                        <a class="page-link" href="?sort={{ sort }}&limit={{ limit }}&page={{ i }}">{{ i }}</a>
                                    </li>
                                {% else %}
                                    <li class="page-item">
                                        <a class="page-link" href="?sort={{ sort }}&limit={{ limit }}&page={{ i }}">{{ i }}</a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                            <li class="page-item"><a class="page-link" href="#">Next</a></li>
                          </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <!-- Shop Product End -->
        </div>
    </div>
    <!-- Shop End -->

    {% endblock %}

    <script>
    const dropdownItems = document.querySelectorAll('.dropdown-item');
    const featuredButton = document.getElementById('featured-button');

    dropdownItems.forEach(item => {
        item.addEventListener('click', function() {
            const buttonText = this.textContent;
            featuredButton.textContent = buttonText;
        });
    });
    </script>







    